@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: ProximaNova;
  src: url(../../fonts/ProximaNova-Bold.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Merriweather-Light;
  src: url(../../fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../../fonts/Roboto-Medium.ttf);
}
body {
  height: 100%;
}

.container {
  max-width: 1055px;
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.content {
  flex: 1 0 100%;
}

.footer {
  flex: 0 1 auto;
}

a {
  font-family: Montserrat-Regular;
}

h2, h3, h4 {
  color: #0f5f5c;
}

h3 {
  font-family: Roboto-Regular;
  font-size: 16px;
}

p {
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #83a7a5;
  line-height: 22px;
}

/*---SECTION 1---*/
.header {
  padding-top: 30px;
}
.header a {
  text-transform: uppercase;
}
.header p {
  color: #fff;
}
.header .menu {
  padding-bottom: 30px;
}
.header .menu .menu__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.header .menu .menu__row .contact {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.header .menu .menu__row .contact .logo {
  font-family: ProximaNova;
  font-size: 28px;
  line-height: 20px;
  color: #0f5f5c;
}
.header .menu .menu__row .contact .logo::after {
  content: "";
  display: inline-block;
  height: 20px;
  width: 1px;
  background: #5a7f80;
  margin-left: 26px;
}
.header .menu .menu__row .contact .phone {
  color: #0f5f5c;
  margin-left: 26px;
  font-size: 13px;
  font-family: Montserrat-Regular;
  padding: 1px 0px 1px 21px;
  background: url(../../img/phone2.png) no-repeat;
}
.header .menu .menu__row .menu__item {
  font-family: Montserrat-Regular;
  font-size: 13px;
}
.header .menu .menu__row .menu__item a {
  margin-right: 30px;
  transition: 0.2s;
  color: #83a7a5;
}
.header .menu .menu__row .menu__item a:last-child {
  margin: 0;
}
.header .menu .menu__row .menu__item a:hover {
  color: #0f5f5c;
}
.header .menu .menu__row .menu__item .but {
  background: #6fb048;
  padding: 9px 12px;
  border-radius: 5px;
  color: #fff;
}
.header .menu .menu__row .menu__item .active {
  color: #0f5f5c;
}
.header .map {
  height: 400px;
  width: 100%;
  background: url(../../img/map.jpg) no-repeat;
}

/*---SECTION 2---*/
.get-in-touch {
  padding: 75px 0 100px;
}
.get-in-touch .get-in-touch__container {
  max-width: 915px;
}
.get-in-touch .get-in-touch__container .title {
  margin: 0 auto;
  text-align: center;
  max-width: 410px;
  margin-bottom: 75px;
}
.get-in-touch .get-in-touch__container .title h1 {
  font-family: Roboto-Light;
  font-size: 32px;
  color: #0f5f5c;
}
.get-in-touch .get-in-touch__container .title h1::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  height: 1px;
  width: 65px;
  display: block;
  background: #6fb048;
}
.get-in-touch .get-in-touch__container .title p {
  margin-top: 17px;
  font-size: 15px;
  line-height: 20px;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .form input, .get-in-touch .get-in-touch__container .contact-form .contact-form__row .form textarea {
  display: block;
  font-family: Roboto-Regular;
  color: #83a7a5;
  font-size: 14px;
  border: 1px solid #c1d3d2;
  margin-bottom: 25px;
  padding: 14px;
  width: 505px;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .form input::last-child {
  content: "";
  margin-bottom: 0;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .form textarea {
  max-width: 505px;
  height: 124px;
  resize: none;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .form button {
  text-transform: uppercase;
  background: #6fb048;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #fff;
  padding: 14px 40px;
  border-radius: 2px;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter {
  border: 2px dashed #c1d3d2;
  padding: 35px 35px 55px;
  width: 340px;
  align-self: flex-start;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter .headquarter__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter .headquarter__row h3 {
  color: #0f5f5c;
  font-family: Roboto-Light;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter .headquarter__row a {
  padding-left: 30px;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #83a7a5;
  line-height: 22px;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter .headquarter__row .address {
  margin-bottom: 20px;
  background: url(../../img/address.png) 3px 0 no-repeat;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter .headquarter__row .tel {
  margin-bottom: 10px;
  background: url(../../img/phone3.png) 0 3px no-repeat;
}
.get-in-touch .get-in-touch__container .contact-form .contact-form__row .headquarter .headquarter__row .email {
  color: #0f5f5c;
  background: url(../../img/email.png) 0 3px no-repeat;
}

/*---SECTION 3---*/
.download {
  padding: 73px 0;
  background: url(../../img/bg.jpg);
  color: #83a7a5;
  font-size: 15px;
  font-family: Roboto-Regular;
}
.download .download__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.download .download__row .topic h2 {
  font-size: 28px;
  font-family: Roboto-Light;
  color: #0f5f5c;
  margin-bottom: 5px;
}
.download .download__row .topic p {
  line-height: 20px;
}
.download .download__row a {
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-size: 13px;
  background: #6fb048;
  padding: 15px 21px;
  border-radius: 2px;
}

/*---Footer---*/
.footer {
  padding: 95px 0 10px 0;
}
.footer a, .footer p {
  font-size: 13px;
  font-family: Roboto-Regular;
  color: #83a7a5;
  margin-bottom: 13px;
}
.footer p:last-child {
  content: "";
  margin-bottom: 0px;
}
.footer a:last-child {
  content: "";
  margin-bottom: 0px;
}
.footer a:hover {
  color: #0f5f5c;
}
.footer .active {
  color: #0f5f5c;
}

.footer__block1 {
  margin-bottom: 50px;
}
.footer__block1 .block__row {
  display: flex;
  justify-content: space-between;
}
.footer__block1 .block__row p {
  line-height: 20px;
}
.footer__block1 .block__row h4 {
  font-family: ProximaNova;
  color: #0f5f5c;
  font-size: 13px;
  margin-bottom: 15px;
}
.footer__block1 .block__row .column__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.footer__block1 .block__row .column_wapik {
  max-width: 195px;
}
.footer__block1 .block__row .column_wapik h4 {
  text-transform: uppercase;
  font-size: 22px;
}
.footer__block1 .block__row .column_newsletter p {
  max-width: 240px;
}
.footer__block1 .block__row .column_newsletter form {
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  background: #eef1ec;
  border-radius: 2px;
}
.footer__block1 .block__row .column_newsletter form input {
  background: none;
  font-size: 13px;
  font-family: Roboto-Regular;
  color: #83a7a5;
}
.footer__block1 .block__row .column_newsletter form .plane {
  background: url(../../img/plane.png);
  padding: 10px;
}

.footer__block2 {
  padding: 15px 0 0;
  border-top: 1px solid #eef1ec;
}
.footer__block2 .block2__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.footer__block2 .block2__row .social {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.footer__block2 .block2__row .social a {
  margin-left: 3px;
}
.footer__block2 .block2__row .social a img {
  padding: 11px;
}
.footer__block2 .block2__row .social a .img1 {
  background: url(../../img/c1.png) 50% 50% no-repeat;
}
.footer__block2 .block2__row .social a .img2 {
  background: url(../../img/c2.png) 50% 50% no-repeat;
}
.footer__block2 .block2__row .social a .img3 {
  background: url(../../img/c3.png) 50% 50% no-repeat;
}
.footer__block2 .block2__row .social a .img4 {
  background: url(../../img/c4.png) 50% 50% no-repeat;
}
.footer__block2 .block2__row .social a .img5 {
  background: url(../../img/c5.png) 50% 50% no-repeat;
}